body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 30px;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: #8c00ff;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: static;
}
.menu li a{
    text-decoration: none;
    color: crimson;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline block;
    text-align: center;

}
.menu li a:hover{
    background-color: chocolate;
}
.text{
    text-align: center;
    color: aliceblue;
    font-size: 100px
}
.texxt{
    font-size: 20px;
    color: cornflowerblue;
}
.img{
    text-align: center;
}
.fondo{
    background-image: url(uanl.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}